#game div {
	border: 5px solid white;
	border-radius: 5px;
	width: 17%;
	height: 200px;
	margin: 10px;
	display: inline-block;
}

body {
	background-color: black;
	margin-left: 35px;
}

h1 {
	color: white;
	text-align: center;
}

